.menu {
  display: none;
}

.header {
  justify-content: space-around;
  width: 100%;
  height: 10svh;
  padding: 0 var(--rtc-padding-m);
  flex-wrap: nowrap;
}

.logo {
  width: 50%;
}

.nav {
  width: 50%;
}

.nav > ul > li {
  font-size: x-large;
}

@media (min-width: 550px) and (max-width: 1050px) {
  .header {
    width: 100%;
    height: 15svh;
    flex-wrap: wrap;
    gap: 0;
  }

  .logo {
    width: 100%;
  }

  .nav {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 549px) {
  .header {
    width: 100%;
    height: 15svh;
    flex-wrap: wrap;
    gap: 0;
  }

  .logo {
    width: 90%;
    justify-content: flex-start;
    font-size: small;
  }

  .nav {
    width: 100%;
    font-size: small;
    position: relative;
  }

  .nav > ul > li {
    font-size: large;
  }

  .nav > ul {
    position: absolute;
    transform: translateX(-200%);
    transition: transform 0.3s;
  }

  .nav-show > ul {
    transform: translateX(0);
  }

  .menu {
    display: flex;
  }

  .menu > img {
    height: 40px;
    top: 20px;
    right: 30px;
    position: absolute;
    cursor: pointer;
  }
}

@media (max-width: 449px) {
  .header {
    width: 100%;
    height: 15svh;
    flex-wrap: wrap;
    gap: 0;
  }

  .logo {
    width: 90%;
    justify-content: flex-start;
    font-size: small;
  }

  .nav {
    width: 100%;
    font-size: x-small;
    position: relative;
  }

  .nav > ul > li {
    font-size: small;
  }

  .nav > ul {
    position: absolute;
    transform: translateX(-200%);
    transition: transform 0.3s;
  }

  .nav-show > ul {
    transform: translateX(0);
  }

  .menu {
    display: flex;
  }

  .menu > img {
    height: 40px;
    top: 20px;
    right: 30px;
    position: absolute;
    cursor: pointer;
  }
}
