.character {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgb(244, 197, 111);
}
