.routeNotFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90svh;
  gap: var(--rtc-gap-m);
  padding: 0 var(--rtc-padding-m);
}

.routeNotFound > h1 {
  font-size: 8rem;
}

.routeNotFound > p {
  text-align: center;
}
