.profileInfo {
  width: 50%;
  flex-direction: column;
  border: var(--rtc-primary-border);
  margin-top: var(--rtc-margin-m);
  padding: var(--rtc-padding-s) 0;
  background-color: var(--rtc-background-header);
}

.profileInfo > div {
  position: relative;
  width: 200px;
}

.profileInfo img {
  width: 100%;
  border-radius: var(--rtc-border-radius-max);
  cursor: pointer;
}

.profileInfo img:hover {
  opacity: 0.8;
}

.profileInfo > div > img:last-child {
  width: 50px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.profileInfo > input,
.profileInfo > button {
  display: none;
}

.profileFav {
  width: 80%;
  flex-direction: column;
}

.profileFavbook {
  flex-direction: column;
  width: 300px;
  cursor: pointer;
}

.profileFavbook > img {
  height: 300px;
}

.profileFavbook > p {
  text-align: center;
  font-weight: bold;
}

.profileOpinion {
  width: 80%;
  flex-direction: column;
  gap: 0;
}

.profileOpinion > h2 {
  padding-bottom: var(--rtc-padding-m);
}

.profileOpinionBook {
  flex-direction: column;
  border: var(--rtc-primary-border);
  width: 100%;
  gap: 0;
}

.profileTitleBook {
  width: 100%;
  flex-wrap: nowrap;
  padding-top: var(--rtc-padding-s);
  padding-bottom: var(--rtc-padding-xs);
  background-color: var(--rtc-background-header);
  justify-content: space-between;
}

.profileRateBook {
  width: 50%;
  justify-content: flex-end;
  padding-right: var(--rtc-padding-s);
  gap: var(--rtc-gap-xxs);
}

.profileBookDetails {
  width: 50%;
  justify-content: flex-start;
  padding-left: var(--rtc-padding-s);
}

.profileBookDetails > p {
  font-weight: bold;
  cursor: pointer;
}

.profileOpinionText {
  width: 100%;
  justify-content: flex-start;
  padding: var(--rtc-padding-s);
  background-color: var(--rtc-color-lightgrey);
  flex-direction: column;
  align-items: flex-start;
}

.divArticleFav {
  width: 100%;
}

@media (max-width: 499px) {
  .profileInfo > div {
    width: 150px;
  }

  .profileInfo > div > img:last-child {
    width: 40px;
  }
}
