.trivial {
  width: 100%;
  flex-direction: column;
  padding: var(--rtc-padding-xs) 0;
}

.trivial > select {
  background-color: var(--rtc-color-black);
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
  width: 200px;
  font-size: larger;
}

.question {
  flex-direction: column;
  border: var(--rtc-primary-border);
  background-color: var(--rtc-color-black);
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
  width: 400px;
  height: 400px;
}

.quiz {
  flex-direction: column;
  width: 90%;
}

.quiz > p {
  font-size: larger;
}

.question h3,
.question h4 {
  font-family: var(--rtc-secondary-font);
}

.question h3 {
  border-bottom: var(--rtc-primary-border);
}

.question h4 {
  background-color: var(--rtc-color-white);
  width: 80%;
  color: var(--rtc-color-black);
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
}

.selected {
  background-color: var(--rtc-color-font) !important;
}

.resertTrivial {
  display: none;
}

@media (max-width: 500px) {
  .question {
    width: 300px;
    height: 450px;
  }

  .question h3,
  .question h4 {
    font-size: medium;
  }
}
