.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 10svh;*/
  padding: var(--rtc-padding-xs);
  flex-wrap: wrap;
  background-color: var(--rtc-background-header);
  gap: var(--rtc-gap-xs);
  border-bottom: var(--rtc-primary-border);
  z-index: 90;
}

.headerMovil {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 10svh;*/
  padding: var(--rtc-padding-xs);
  flex-wrap: wrap;
  background-color: var(--rtc-background-header);
  gap: var(--rtc-gap-xs);
  border-bottom: var(--rtc-primary-border);
  z-index: 90;
}

.headerInfo {
  width: 100%;
  padding-top: var(--rtc-padding-xs);
  flex-wrap: nowrap;
}

.logo {
  width: 30%;
  justify-content: start;
  padding-left: var(--rtc-padding-s);
}

.search {
  width: 40%;
  position: relative;
}

.search > input {
  width: 90%;
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
}

.search > img {
  height: 20px;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}

.menu {
  width: 30%;
  justify-content: end;
  padding-right: var(--rtc-padding-s);
}

.menu > button {
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
  cursor: pointer;
}

.menu > img {
  height: 40px;
  border-radius: var(--rtc-border-radius-max);
  cursor: pointer;
}

.nav {
  width: 100%;
}

.profile {
  position: absolute;
  right: 20px;
  top: 100px;
  background-color: var(--rtc-background-header);
  width: 150px;
  height: 150px;
  border-radius: var(--rtc-border-radius-button);
  border: var(--rtc-primary-border);
  display: none;
}

.profile-show {
  display: flex;
}

.profile > ul {
  flex-direction: column;
}

@media (max-width: 750px) {
  .header {
    display: none;
  }

  .headerMovil {
    display: flex;
  }

  .logo {
    width: 80%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: var(--rtc-padding-s);
  }

  .logo > img {
    height: 30px;
    cursor: pointer;
  }

  .search {
    width: 100%;
    position: relative;
  }

  .menu {
    width: 20%;
  }

  .menu > img {
    height: 30px;
    cursor: pointer;
  }

  .nav {
    width: 40%;
    position: absolute;
    left: 0;
    top: 116px;
    justify-content: flex-start;
  }

  .nav > ul {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    transform: translateX(-200%);
    transition: transform 0.3s;
    background-color: var(--rtc-background-header);
    border-bottom: var(--rtc-primary-border);
    border-right: var(--rtc-primary-border);
    padding: var(--rtc-padding-s);
  }

  .nav-show > ul {
    transform: translateX(0);
  }

  .profile {
    top: 118px;
  }
}
