.animes {
  min-height: 85svh;
  margin-top: 10svh;
  width: 80%;
  padding: var(--rtc-padding-m) 0;
}

.animeList {
  width: 225px;
  height: 400px;
  justify-content: flex-start !important;
  flex-direction: column;
  flex-wrap: nowrap !important;
  cursor: pointer;
  transition: transform 0.5s;
}

.animeList:hover {
  transform: scale(1.1);
}

.animeList > img {
  width: 225px;
  height: 320px;
}

.animeList > h2 {
  font-weight: normal;
  font-size: medium;
}

#beforeAnimeList,
#afterAnimeList {
  padding: var(--rtc-padding-xs);
  border-radius: var(--rtc-border-radius-button);
  border: none;
  background-color: var(--rtc-color-blue);
  cursor: pointer;
}

#beforeAnimeList:disabled,
#afterAnimeList:disabled {
  background-color: var(--rtc-color-lightgrey);
}
