.top {
  min-height: 85svh;
  margin-top: 10svh;
  width: 80%;
  padding: var(--rtc-padding-m) 0;
}

.animeListTop {
  width: 225px;
  height: 400px;
  justify-content: flex-start !important;
  flex-direction: column;
  flex-wrap: nowrap !important;
  cursor: pointer;
  transition: transform 0.5s;
}

.animeListTop:hover {
  transform: scale(1.1);
}

.animeListTop > img {
  width: 225px;
  height: 320px;
}

.animeListTop > h2 {
  font-weight: normal;
  font-size: medium;
}
